.app-loader {
  width: 100vw;
  height: 100vh;
  background-color: var(--medium2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--blur);
  backdrop-filter: blur(2px);
  animation: opacity-keyframe 0.4s ease-out;

  svg {
    color: var(--link2);
    width: 20vmin;
    height: 20vmin;
    margin-top: calc((100vh - 20vmin) / 2);
    margin-left: calc((100vw - 20vmin) / 2);
    animation: rotation 2.3s infinite linear;
  }
}

@keyframes opacity-keyframe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(359deg) scale(1);
    color: var(--link2);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
    color: var(--link1);
  }
  100% {
    transform: rotate(0deg) scale(1);
    color: var(--link2);
  }
}
